.grid-container {
    width: 700px;
    height: 700px;
    background-color: lightgray;
    display: flex;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    flex-grow: 0;
    width: 20%;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 75px;
}